@use "@styles/app/variables";

.post-author {
    transition: transform 0.5s;

    .author-profile {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: #{variables.$site-default-padding};
        text-align: center;

        > *:not(:first-child) {
            margin-top: #{variables.$site-default-margin};
        }

        .avatar {
            border-radius: 50%;
            height: #{variables.$middle-font-size * 3};
            width: #{variables.$middle-font-size * 3};
        }

        .author-info {
            .author-name {
                font-size: #{variables.$large-font-size};
            }

            .author-bio {
                margin-top: #{variables.$site-default-margin};
            }
        }
    }

    &:hover {
        transform: translateY(-0.3rem);
    }
}
