@font-face {
    font-family: "MaruBuri";
    font-weight: 200;
    font-display: swap;
    src: url(@assets/font/MaruBuri-ExtraLight.woff2) format("woff2");
}

@font-face {
    font-family: "MaruBuri";
    font-weight: 300;
    font-display: swap;
    src: url(@assets/font/MaruBuri-Light.woff2) format("woff2");
}

@font-face {
    font-family: "MaruBuri";
    font-weight: 400;
    font-display: swap;
    src: url(@assets/font/MaruBuri-Regular.woff2) format("woff2");
}

@font-face {
    font-family: "MaruBuri";
    font-weight: 600;
    font-display: swap;
    src: url(@assets/font/MaruBuri-SemiBold.woff2) format("woff2");
}

@font-face {
    font-family: "MaruBuri";
    font-weight: 700;
    font-display: swap;
    src: url(@assets/font/MaruBuri-Bold.woff2) format("woff2");
}
